<!DOCTYPE html>
<html>
  <head>
    <title>Tweetscrope</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <h2>Tweetscrope </h2>
	  <hr>
	  <%= yield %>
	  <hr>

	  <div style=text-align:center>  Tweetscrope for Heroku course </div>
  </body>
</html>
